{% extends 'layout.html' %}

{% block title %}
Home

{% endblock %}

{% block content %}
<style>

    table {
      margin: 0 auto;
      border: 1px solid #ddd;
      border-collapse: collapse;
      width: 80%;
    }

    th {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
      color: #90EE90;
      -webkit-text-stroke: 0.3px gray;
      text-stroke: 0.3px gray;
    }

    th a {
      color: #90EE90;
      text-decoration: none;
    }
    tr:hover{
      background-color: #FFDAB9;
    }
    th a:hover {
      text-decoration: underline;
    }

    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th:nth-child(1), td:nth-child(1) {
      text-align: center;
    }
  </style>
<main>
  <br>
    <h2 style="color: #FFDAB9; -webkit-text-stroke: 0.3px gray; text-stroke: 0.3px gray;">Your Recipes -</h2>
    <table class="table table-hover">
      <tr>
        <!-- Modify the table headers according to your table structure -->
        <a style="color: #90EE90; -webkit-text-stroke: 0.3px gray; text-stroke: 0.3px gray;">
        <th>Id</th>
        <th>Dish Name</th>
        <th>Category</th>
        <th>Description</th></a>

      </tr>
      {% for row in rows %}
      <tr>
        <!-- Access the data fields in each row -->
        <td>{{ row[0] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[3] }}</td>
      </tr>
      {% endfor %}
    </table>
</main>

{% endblock %}
