{% extends 'layout.html' %}

{% block title %}
Home

{% endblock %}

{% block content %}
<link rel="stylesheet" href="style.css">

<main>
  <br>
    <h2 class = "peach-h">Your Recipes -</h2>
    <table class="table table-hover">
      <tr>
        <!-- Modify the table headers according to your table structure -->
        <a style="color: #90EE90; -webkit-text-stroke: 0.3px gray; text-stroke: 0.3px gray;">
        <th>Id</th>
        <th>Dish Name</th>
        <th>Category</th>
        <th>Description</th></a>

      </tr>
      {% for row in rows %}
      <tr>
        <!-- Access the data fields in each row -->
        <td>{{ row[0] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[3] }}</td>
      </tr>
      {% endfor %}
    </table>
</main>

{% endblock %}
