{% extends 'layout.html' %}

{% block content %}
    <br>
    <div id="recipe-title-container">
        <h1 id="recipe-title" style="color: #FFDAB9; -webkit-text-stroke: 0.3px gray; text-stroke: 0.3px gray;">
            New Recipe <i id="edit-icon" class="fas fa-edit" style = "font-size: 40%; color: gray;"></i>
        </h1>
    </div>
    <form action="/new_recipe" method="POST">

        <br>
        <div class="row">
            <div class="col">
                <input type="hidden" id="recipe-title-input" name="name" value="New Recipe" required>
                <div id="description-container">
                    <input class="description-input form-control" type="text" name="description" placeholder="Description" autocomplete="off" required>
                    <br>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="ingredient-container">
                    <input class="ingredient-input form-control" type="text" name="ingredients[0]" placeholder="Ingredients" style="width: 50%;" autocomplete="off" required>

                </div> <br>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary" onclick="addIngredient()" style="background-color:#90EE90; border-style: hidden;">Add</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input class="step-input form-control" type="text" id="category" name="category" placeholder="Category" style = "width : 42%" list="categoryOptions"autocomplete="off" >
                <datalist id="categoryOptions">
                    <option value="Appetizer">
                    <option value="Soup/Stew">
                    <option value="Salad">
                    <option value="Main Course">
                    <option value="Side Dish">
                    <option value="Dessert">
                    <option value="Bread">
                    <option value="Beverage">
                    <option value="Snacks">
                </datalist>
            </div>
        </div>
        <br><br>
        <h2 style="color: #FFDAB9; -webkit-text-stroke: 0.3px gray; text-stroke: 0.3px gray;" >Instructions:</h2> <br>
        <div class="row">
            <div class="col">
                <div id="step-container">
                    <input class="step-input form-control" type="text" name="steps[0]" placeholder="Step 1" autocomplete="off" required>
                </div>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary" onclick="addStep()" style="background-color:#90EE90; border-style: hidden;">Add</button>
            </div>
        </div>
        <br>


        <div class="row">
            <div class="col-auto d-flex justify-content-center">
                <button class="btn btn-primary" type="submit" style="background-color:#90EE90; border-style: hidden;">Save Recipe</button>
            </div>
        </div>
    </form>
{% endblock %}
