{% extends 'layout.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}
    <form action="/register" method="post">

        <div class="mb-3" style="padding-top: 5%; transform: scale(0.9);">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Create Username" type="text">
          </div>
          <div class="mb-3" style="transform: scale(0.9);">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
          </div>
          <div class="mb-3" style="transform: scale(0.9);">
            <input class="form-control mx-auto w-auto" name="re-password" placeholder="Confirm Password" type="password">
          </div>

        <button class="btn btn-primary" type="submit" style = "display: block; margin: 0 auto; background-color:#90EE90; border-style: hidden;">Submit</button>
    </form>
{% endblock %}
